* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.nav-class {
  position: relative;
  width: 100%;
  height: 100%;
  /* background: #eff4fd; */
}
nav {
  display: flex;
  width: 84%;
  margin: auto;
  padding: 20px 0;
  align-items: center;
  justify-content: space-between;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

nav ul li a:hover {
  color: red;
}
.introduction {
  font-size: large;
  width: 60%;
  margin-top: 10px;
}
.aboutmeimg {
  border: solid black;
  margin-top: 10px;
  width: 20%;
  height: auto;
}

.pictures_container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
.container {
  width: 1200px;
  height: 300px;
  margin-top: 10px;
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
}
#st-box {
  float: left;
  width: 350px;
  height: 250px;
  background-color: white;
  border: solid black;
  line-height: 2;
}
#nd-box {
  float: left;
  width: 350px;
  height: 250px;
  background-color: white;
  border: solid black;
  margin-left: 68px;
  line-height: 2;
}
#rd-box {
  float: right;
  width: 350px;
  height: 250px;
  background-color: white;
  border: solid black;
  line-height: 2;
}
h1 {
  color: black;
}

/* footer */
.footer {
  padding: 40px 0;
}
.footer .social {
  text-align: center;
  padding-bottom: 25px;
  color: #4b4c4d;
}
.footer .social a {
  font-size: 24px;
  color: inherit;
  border: 1px solid #ccc;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  opacity: 0.75;
}
.footer .social a:hover {
  opacity: 0.9;
}
.footer ul {
  margin-top: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}
.footer ul li a {
  color: initial;
  text-decoration: none;
  opacity: 0.8;
}
.footer ul li {
  display: inline-block;
  padding: 0 15px;
}
.footer ul li a:hover {
  color: #c60000;
}
.footer .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
}
