nav {
  background-color: white;
}
nav img {
  margin-left: 680px;
}
.container1 {
  margin-top: 35px;
  display: flex;
  height: 550px;
  width: 1000px;
  border: solid #4863a0;
}
.firstbox {
  flex: 0.5;
  height: 550px;
  border: solid #4863a0;
  background-color: black;
}
.secondbox {
  flex: 1;
  height: 55 0px;
  border: solid #4863a0;
}
.firstbox img {
  margin-top: 46px;
  height: 450px;
}

.secondbox h1 {
  margin-top: 25px;
  color: white;
  background-color: black;
}
.secondbox p {
  font-size: large;
  font-family: cursive;
  color: #4863a0;
  font-weight: bold;
}
img:hover {
  transform: scale(1.2);
}
